<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{$title}</title>
    </head>
    <body>
        <center>
            {include file="stu/menu.html"}
            
            <h3>添加信息</h3>
            <form action="index.php?m=stu&a=insert" method="post">
            <table width="280" border="0">
                <tr>
                    <td align="right">姓名：</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <td align="right">年龄：</td>
                    <td><input type="text" name="age"/></td>
                </tr>
                 <tr>
                    <td align="right">性别：</td>
                    <td><input type="hidden" name="sex" value="m"/></td>
                </tr>
                <tr>
                    <td align="right">班级：</td>
                    <td><select name='classid'>
                        <option>--请选择--</option>
                        <option value='1'>1班</option>
                        <option value='2'>2班</option>
                        <option value='3'>3班</option>
                        <option value='4'>4班</option>
                    </select></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <input type="submit" value="提交"/>
                        <input type="reset" value="重置"/>
                    </td>
                </tr>
            </table>
            </form>
        </center>
    </body>
</html>